/* Hero Container and Background */
.hero-container {
  position: relative;
  height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
  overflow: hidden;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire area */
  z-index: 1; /* Place it behind the overlay and content */
  animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.hero-container::after {
  content: '';
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)); /* Fades from black to transparent */
  z-index: 1; /* Place it above the background but behind the content */
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 2; /* Place it above the gradient overlay */
  justify-content: center;
  overflow-y: auto;
}

.hero-content-main {
  z-index: 3; /* Bring content above the background and overlay */
  display: flex;
  gap: 20px; /* Space between the image and text */
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  overflow-y: auto;

  /* Hide scrollbar for Webkit browsers (Chrome, Safari, Edge) */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */

  opacity: 0;
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Center Image Container and Overlay */
.center-image-container {
  position: relative;
  width: 450px; /* Fixed width */
  height: auto; /* Fixed height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px; /* Optional: to give rounded corners */
  margin-top: 20px;
  margin-left: 4vw;
  margin-bottom: 10px;
}

.center-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 8px;
  transition: transform 0.5s ease;
}

.center-image-container:hover .center-image {
  transform: scale(1.05);
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 150px; /* Adjust padding as needed */
  background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.center-image-container:hover .image-overlay {
  opacity: 1;
}

.overlay-text {
  color: #333; /* Adjust text color */
  font-size: 16px; /* Adjust font size */
  font-weight: bold;
  text-align: center;
  width: 10vw;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.center-image-container:hover .overlay-text {
  transform: translateY(0);
  opacity: 1;
}

/* Additional Components */
.text-background {
  display: flex;
  flex-direction: column; /* Ensure text blocks are stacked */
  padding: 20px;
  border-radius: 8px;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* White background with opacity */
}

.intro-container {
  display: flex;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7); /* White background with opacity */
  border-radius: 8px;
  align-items: flex-start; /* Align items to the top */
  flex-wrap: wrap;
}

.title-description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40px;
  padding: 20px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 8px;
}

.divider {
  width: 100%;
  border: 1px solid rgb(173, 173, 173);
}

.title-subtitle-container {
  display: flex;
  flex-direction: column; /* Stack title and subtitle */
  margin-bottom: 3vh;
}

.title {
  text-align: left;
  color: black;
  font-size: 40px;
  font-weight: 600;
}

.subtitle {
  text-align: left;
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin-left: 18px;
  margin-top: 20px;
}

.description {
  text-align: left;
  color: rgb(73, 73, 73);
  font-size: 18px;
  width: 100%;
  max-width: 60vw;
  min-width: 60vw;
  margin-top: 10px;
  text-justify: auto;
}

.description-flex {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  color: rgb(73, 73, 73);
  font-size: 18px;
  width: 100%;
  min-width: 60vw;
  margin-top: 10px;
  text-justify: auto;
}

.list-items {
  text-align: left;
  color: rgb(73, 73, 73);
  font-size: 25px;
  width: 100%;
  max-width: 60vw;
  min-width: 60vw;
  margin: 5px;
  padding: 10px;
  border: 1px solid lightgrey;
}

.empty-container {   
  z-index: 2;
  position: sticky;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;
  min-width: 75vw;
}

/* Tabs and Quote Styling */
.nav-tabs .nav-link {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

.nav-tabs .nav-link.active {
  background-color: #fff;
  color: #007bff;
  border-color: #ddd #ddd #fff;
}

.tab-content {
  border-top: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
  border-radius: 0.25rem;
  width: 100%;
}

.custom-link {
  margin-left: 10px;
}

.quote-of-day {
  padding: 40px;
  background-color: #ffffff77;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 8px;
  color: rgb(255, 255, 255);
}

.logo-image{
  border-radius: 8px;
  background-color: #ffffff99;
  padding: 1vw;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .center-image-container {
      width: 100%;
      max-width: 100%;
  }

  .hero-content {
      flex-direction: column;
  }

  .description {
      max-width: 90vw;
      min-width: 90vw;
  }
}


/* Animation for fading in content */
.fade-in {
  opacity: 0;
  animation: fadeInContent 0.5s forwards;
}

@keyframes fadeInContent {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Animation for fading out content */
.fade-out {
  opacity: 1;
  animation: fadeOutContent 0.5s forwards;
}

@keyframes fadeOutContent {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-10px); }
}