/* Navigation Buttons on the sides */
.navigation-buttons-sides-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    z-index: 3; /* Make sure buttons are above other content */
    align-items: center;
    position: fixed;
    top: 50%; /* Vertically center the buttons */
    transform: translateY(-50%);
    pointer-events: none; /* Ensure buttons do not block scrollable content */
}

.navigation-button {
    width: 10vw; /* Adjust width for rectangular shape */
    height: 80%;/* Full height to cover the sides */
    font-size: 30px;
    opacity: 0.5;
    transition: all 0.3s ease; /* Smooth transition for both opacity and shadow */
    pointer-events: auto; /* Enable button interactions */
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0; /* Remove border radius for rectangular shape */
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
  
}

.navigation-button:hover {
    opacity: 1;
}

.prev-button {
    margin-left: 0; /* Remove margin */
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.2)
    ); /* Fade background from left */
    border-radius: 0 10vh 10vh 0;
}

.next-button {
    margin-right: 0; /* Remove margin */
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.2)
    ); /* Fade background from right */
    border-radius: 10vh 0 0 10vh;
}
